<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            Header
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-12">
            Filters
        </div>
        <div class="col-lg-10 col-md-10 col-sm-12 col-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    Content 1
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    Content 2
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    Content 3
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    Content 4
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            Footer
        </div>
    </div>
</div>